{
  "env":{
    "node":true,
    "browser":true,
    "es6": true
  },
  "rules":{
    "comma-dangle":[2,"never"],
    "quotes": [0, "double"],
    "no-unused-vars": [1, {"vars": "all", "args": "after-used"}],
    "no-mixed-spaces-and-tabs": [2],
    "no-undef": [2]
  }
}
